<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>
<body>
    <div class="login-container">
        <h1>Welcome</h1>
        <div class="login-inputs">
            <input type="text" placeholder="Username">

            <div class="input-container">
                <input type="password" id="password" placeholder="Password">
                <span class="toggle-password" onclick="togglePassword()">👁️</span>
            </div>
            <a href="/home">
                <button>Login</button>
            </a>
        </div>
    </div>

    <script src="/static/javaScript/login.js"></script>
</body>
</html>